<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To do</title>
    <link rel="stylesheet" href="todolist.css">
    <link rel="stylesheet" href="cl_checkbox.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="api.js"></script>
</head>
</head>

<body>
    <div class="app">
        <header>
            <div>
                <h1>To do list</h1>
                <h2>添加</h2>
                <div class="header">
                    <form action="" id="form" v-on:submit.prevent="">
                        <input type="text" placeholder="请输入待办事项" v-model="newTodos">
                    </form>
                </div>
                <div style="height: 10px;"></div>
                <div class="header">
                    <form action="" id="remarkForm" v-on:submit.prevent="">
                        <input type="text" placeholder="备注" v-model="newRemark">
                    </form>
                </div>
                <div style="height: 10px;"></div>
                <div class="header">
                    <input type="date" placeholder="日期选择" v-model="newDate" />
                </div>
                <div style="height: 10px;"></div>
                <button @click="addData()" id="addBtn">添加</button>
            </div>
        </header>
        <section id="content">
            <div class="layout">
                <h2>正在进行</h2>
                <ul>
                    <li v-for="(item,index) in todos" v-if="!item.isComplete">
                        <p>{{index+1}}.</p>
                        <label class="cl-checkbox">
                            <input checked="" type="checkbox" v-on:click="sel(index)" v-model="item.isComplete">
                            <span></span>
                          </label>{{item.title}}
                        <p> 备注：{{item.remark}} </p>
                        <p>时间：{{item.date}}</p>
                        <button @click="removeData(index)">删除</button>
                    </li>
                </ul>
                <h2>已经完成</h2>
                <ul>
                    <li v-for="(item,index) in todos" v-if="item.isComplete">
                        <p>{{index+1}}.</p>

                        <label class="cl-checkbox">
                            <input checked="" type="checkbox" v-model="item.isComplete" @change="saveData()">
                            <span></span>
                          </label>{{item.title}}
                        <p> 备注：{{item.remark}} </p>
                        <p>时间：{{item.date}}</p>
                        <button @click="removeData(index)">删除</button>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <script src="todo.js"></script>

    <script>
        var a = new Vue({
            el: ".app",
            data() {
                return {
                    newTodos: [],
                    newRemark: [],
                    newDate: [],
                    todos: []
                }
            },
            computed: {
                counter: function() {
                    var c = {
                        doing: 0,
                        finish: 0
                    };
                    this.todos.forEach(function(item) {
                        if (!item.isComplete) {
                            c.doing++;
                        } else {
                            c.finish++;
                        }
                    })
                    return c;
                }
            },
            methods: {
                sel(index) {
                    this.todos[index].isComplete = !this.todos[index].isComplete;
                    //   localStorage.setItem("todos",JSON.stringify(this.todos));
                    Storage.set("todos", this.todos);
                },
                removeData(index) {
                    //删除数组
                    this.todos.splice(index, 1);
                    //   localStorage.setItem("todos",JSON.stringify(this.todos));
                    Storage.set("todos", this.todos);
                },
                addData() {
                    //添加数据
                    var length = this.todos.length - 1;
                    // if (newTodos != "" && newRemark != "" && newDate != "") {
                    this.todos.push({
                        id: length,
                        title: this.newTodos,
                        remark: this.newRemark,
                        date: this.newDate,
                        isComplete: false
                    });
                    this.newTodos = "";
                    this.newRemark = "";
                    this.newDate = "";
                    //   localStorage.setItem("todos",JSON.stringify(this.todos));
                    Storage.set("todos", this.todos);
                    // } else {
                    //     alert('不能为空');
                    // }
                },
                saveData() {
                    Storage.set("todos", this.todos);
                }
            },
            mounted() {
                //   var todos=JSON.parse(localStorage.getItem("todos"));
                var todos = Storage.get("todos");
                if (todos) {
                    this.todos = todos;
                }
            }
        })
    </script>

</body>

</html>